.col1{
    background: #307ba5;
}
.col2{
    background: #113f59;
}
.col3{
    background: #307ba5;
}
#avecousans{
    background-image: url('../img/ermitage.jpg');
    //background-image: url('../img/1.jpg');
    background-size: cover;
    //text-shadow: 2px 2px #878787;
    padding-bottom: 1%;
}
#liltools{
    background-image: url('../img/liltools.jpg');
    //background-image: url('../img/3.jpg');
    background-size: cover;
    //text-shadow: 2px 2px #878787;
    padding-bottom: 1%;
}
#cequonaperdu{
    background-image: url('../img/notebooks.jpg');
    //background-image: url('../img/2.jpg');
    background-size: cover;
    //text-shadow: 2px 2px #878787;
    padding-bottom: 1%;
}
#generateur{
    //background-image: url('../img/0.jpg');
    background-image: url(../img/arbol1.jpg);
    background-size: cover;
    //text-shadow: 2px 2px #878787;
    padding-bottom: 1%;
}

#social-btns {
  text-align: center;
}
.social-icon {
  border-radius: 50%;
  background-color:rgba(250,250,250,0.6);
  //font:bold 120% Arial;
  font-size:24px;
  color:#307ba5;
  text-align: center;
  margin: 5px;
}
h1 small{
  color: #FFFFFF;
}
.small{
    color: #FFFFFF;
}
.tweets{

}
.case{
    text-align: center;
    text-shadow: 2px 2px #878787;
    height: 300px;
}
h1{
    color: #FFFFFF;
}
p a {
  color: orange;
}
body{
    background: #307ba5;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: medium;
    text-align: justify;
}
.boutonrond {
	width:60px;
	height:60px;
	background-color:rgba(250,250,250,0.6);
	font:bold 120% Arial;
	color:#307ba5;
  text-align: center;
  padding: 6px 0;
  //line-height: 1.428571429;
  border-radius: 30px;
  margin-top: 30px;
}
